# Set default behavior to automatically normalize line endings.
* text=auto

# Force bash scripts to always use LF line endings so that they work in Docker/Linux
*.sh text eol=lf
mvnw text eol=lf
mvnw.cmd text eol=crlf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
