version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - boombet-network

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - boombet-network

  postgres:
    image: postgres:13
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: BoomBet
      POSTGRES_USER: betting_app_user
      POSTGRES_PASSWORD: 1234
    networks:
      - boombet-network
    volumes:
      - postgres-data:/var/lib/postgresql/data

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    volumes:
      - ./api-gateway/src:/app/src
      - ./api-gateway/target:/app/target
    depends_on:
      - auth-service
      - core-service
      - realtime-service
    networks:
      - boombet-network

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8081:8081"
    volumes:
      - ./auth-service/src:/app/src
      - ./auth-service/target:/app/target
    depends_on:
      - postgres
    networks:
      - boombet-network

  core-service:
    build:
      context: ./core-service
      dockerfile: Dockerfile
    container_name: core-service
    ports:
      - "8082:8082"
    volumes:
      - ./core-service/src:/app/src
      - ./core-service/target:/app/target
    depends_on:
      - postgres
      - kafka
    networks:
      - boombet-network

  realtime-service:
    build:
      context: ./realtime-service
      dockerfile: Dockerfile
    container_name: realtime-service
    ports:
      - "8083:8083"
    volumes:
      - ./realtime-service/src:/app/src
      - ./realtime-service/target:/app/target
    depends_on:
      - kafka
    networks:
      - boombet-network

networks:
  boombet-network:
    driver: bridge

volumes:
  postgres-data:
