server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**
            - id: core-service-route
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/**
jwt:
  secret: c2J+E9nU5kP8iG1vL4hQ6wX3aD7gR1mO0bA9vY0vL7eH5mK2rQ4iA3bF1gU6jZ8c2J+E9nU5kP8iG1vL4hQ6wX3aD7gR1mO=
